*{ margin:0; padding:0; box-sizing:border-box; font-family: Segoe UI, sans-serif; }

body{ background:#f4f6fc; }

.navbar{
    padding: 15px 30px;
    background:white;
    box-shadow:0 2px 10px rgba(0,0,0,0.1);
}

.logo{ font-size:28px; font-weight:bold; }

.container{
    max-width: 1100px;
    margin: 50px auto;
    display:flex;
    gap:40px;
    padding: 0 20px;
}

.image-box img{
    width:500px;
    height:350px;
    border-radius:15px;
    object-fit:cover;
    box-shadow: 0 4px 20px rgba(0,0,0,0.2);
}

.info-box h2{ font-size:32px; }
.location{ margin:8px 0 18px 0; font-size:18px; color:#555; }

ul{ margin-left:20px; }
li{ margin:5px 0; font-size:17px; }

.price{
    font-size:28px;
    font-weight:bold;
    margin:10px 0;
    color:#0077ff;
}

.contact-btn{
    padding:12px 20px;
    background:#0077ff;
    border:none;
    color:white;
    border-radius:8px;
    cursor:pointer;
    font-size:18px;
    margin-top:10px;
    transition:.3s;
}
.contact-btn:hover{ background:#005bcc; }

footer{
    text-align:center;
    padding:15px;
    background:#111;
    color:white;
    margin-top:50px;
}

/* Responsive */
@media(max-width:900px){
    .container{ flex-direction:column; text-align:center; }
    .image-box img{ width:100%; height:300px; }
}
