body {
    margin: 0;
    font-family: "Poppins", sans-serif;
    background: #eef3ff;
}

/* MAIN LAYOUT */
.container {
    display: grid;
    grid-template-columns: 260px auto;
    gap: 20px;
    width: 90%;
    margin: 30px auto;
}

/* FILTERS */
.filters {
    background: white;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.filters h3 {
    margin-bottom: 15px;
}

.filters select,
.filters input {
    width: 100%;
    padding: 8px;
    margin: 8px 0 12px;
    border-radius: 6px;
    border: 1px solid #ccc;
}

.apply-btn {
    background: #0077ff;
    color: white;
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

.checkBoxs {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    align-items: center;
    margin: 10px 0;
}

.checkBoxs label {
    display: flex;
    align-items: center;
    font-size: 16px;
    cursor: pointer;
    gap: 6px;
}

.filters input[type="checkbox"] {
    width: 16px;
    height: 16px;
    cursor: pointer;
}

/* CARDS */
.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
    gap: 22px;
}

.card {
    background: white;
    border-radius: 14px;
    overflow: hidden;
    box-shadow: 0 4px 14px rgba(0, 0, 0, 0.15);
}

.card img {
    width: 100%;
    height: 190px;
    object-fit: cover;
}

.content {
    padding: 14px 18px;
}

.location {
    margin: 4px 0;
}

.price {
    font-size: 18px;
    font-weight: bold;
    color: #0077ff;
}

.view-btn {
    margin-top: 10px;
    width: 100%;
    padding: 10px 0;
    border: none;
    background: #0077ff;
    color: white;
    font-size: 15px;
    border-radius: 8px;
    cursor: pointer;
}

.range-slider {
    position: relative;
    width: 100%;
    /* margin: 10px auto; */
}

#range {
    width: 100%;
}

#rangeValue {
    position: absolute;
    top: -20px;
    left: 0;
    background: #111;
    color: #fff;
    padding: 5px 10px;
    border-radius: 6px;
    font-size: 14px;
    transform: translateX(-50%);
    pointer-events: none;
    white-space: nowrap;
}
.sorrymsg{
    width: 100%;
    height: 100%;
    margin: 20% auto;
    text-align: center;
}