* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI";
}

body {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  gap: 20px;
  background: url("https://source.unsplash.com/1400x900/?building,hostel") center/cover no-repeat;
}

#msg {
  position: absolute;
  top: -80px;
  left: 50%;
  transform: translateX(-50%);
  animation: msgshow 3s ease;
  width: fit-content;
  border-radius: 20px;
  padding: 20px 40px;
  z-index: 20;
  opacity: 0;
}

@keyframes msgshow {

  90% {
    top: 20px;
    opacity: 1;
  }

  100% {
    top: -80px;
    opacity: 0;
  }
}

.success,
.error {
  color: #fff;
  padding: 8px 12px;
  margin-top: 10px;
  border-radius: 4px;
  display: block;
  /* ensure it is visible as block */
  font-size: 16px;
}

.success {
  background-color: green;
}

.error {
  background-color: red;
}



.wrapper {
  background: rgba(255, 255, 255, 0.18);
  backdrop-filter: blur(15px);
  padding: 40px 35px;
  border-radius: 15px;
  width: 380px;
  text-align: center;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.25);
}

.menu-button {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-bottom: 20px;
  background: rgba(255, 255, 255, 0.18);
  backdrop-filter: blur(15px);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.25);
  width: 380px;
  padding: 20px 17px;
  border-radius: 15px;
}

.menu-button .tab {
  padding: 5px 15px;
  font-size: 18px;
  border: 2px solid #0077ff;
  background: transparent;
  color: #0077ff;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s ease;
}

.menu-button .tab:hover {
  background: #0077ff;
  color: #fff;
}

/* Active button style */
.menu-button .tab.active {
  background: #0077ff;
  color: #fff;
}

h2 {
  margin-bottom: 25px;
  color: black;
}

input {
  width: 100%;
  padding: 12px;
  margin: 10px 0;
  border: none;
  border-radius: 8px;
  outline: none;
  font-size: 15px;
  border: 1px solid black;
  box-sizing: border-box;
}

input:focus {
  border: 2px solid #0077ff;
}

.btn {
  width: 100%;
  padding: 12px;
  margin-top: 15px;
  background: #0077ff;
  border: none;
  color: black;
  font-size: 18px;
  border-radius: 8px;
  cursor: pointer;
  transition: .3s;
}

.btn:hover {
  background: #005ecc;
}

.hidden {
  display: none;
}