* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", sans-serif;
}

body {
    background: #f7f9fc;
    color: #222;
}

/* NAVBAR */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
    background: white;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    position: sticky;
    top: 0;
    z-index: 20;
}

.logo {
    font-size: 28px;
    font-weight: bold;
}

.navbar nav a {
    margin: 0 15px;
    text-decoration: none;
    font-size: 17px;
    color: #333;
}

.login-btn {
    padding: 10px 18px;
    background: #0077ff;
    border: none;
    color: white;
    border-radius: 6px;
    font-size: 15px;
    cursor: pointer;
    transition: .3s;
}

.login-btn:hover {
    background: #005ecc;
}

/* HERO SECTION */
.hero {
    text-align: center;
    padding: 80px 20px;
    background: url("https://source.unsplash.com/1400x500/?building,city") center/cover no-repeat;
    color: black;
}

.search-box {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.search-box input {
    width: 40%;
    padding: 12px;
    border-radius: 8px 0 0 8px;
    border: 1px solid white;
    outline: none;
    font-size: 16px;
}

.search-box button {
    padding: 12px 22px;
    background: #0077ff;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 0 8px 8px 0;
    font-size: 16px;
}

/* CARDS */
.cards-section {
    padding: 40px;
    text-align: center;
}

.cards {
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
    gap: 25px;
}

.card {
    background: white;
    padding: 0 0 20px 0;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 3px 12px rgba(0, 0, 0, 0.15);
    transition: .3s;
}

.img-box {
    width: 100%;
    height: 200px;
    overflow: hidden;
}

.img-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.card:hover {
    transform: translateY(-5px);
}

.view-btn {
    background: #0077ff;
    color: white;
    border: none;
    padding: 10px 18px;
    border-radius: 6px;
    cursor: pointer;
    margin-top: 10px;
}

/* FOOTER */
footer {
    margin-top: 50px;
    padding: 20px;
    background: #111;
    color: white;
    text-align: center;
}