/* NAVBAR */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
    background: white;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    position: sticky;
    top: 0;
    z-index: 20;
    position: relative;
}

.logo {
    font-size: 28px;
    font-weight: bold;
}

.navbar nav a {
    margin: 0 15px;
    text-decoration: none;
    font-size: 17px;
    color: #333;
    position: relative;

}

.login-btn {
    padding: 10px 18px;
    background: #0077ff;
    border: none;
    color: white;
    border-radius: 6px;
    font-size: 15px;
    cursor: pointer;
    transition: .3s;
}

.login-btn:hover {
    background: #005ecc;
}