.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #0a58ca;
    padding: 14px 40px;
    color: white;
}

.navbar .logo {
    font-size: 22px;
    font-weight: bold;
}

.navbar ul {
    list-style: none;
    display: flex;
    gap: 25px;
}

.navbar ul li a {
    color: white;
    text-decoration: none;
    font-size: 16px;
}
