.cards {
    margin-top: 30px;
    margin-bottom: 15px;
    padding: 20px;

    border: 1px solid hsl(0, 0%, 80%);
    border-radius: 10px;
    /* background-color: hsl(0, 0%, 99%); */
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

.card {
    border: 1px solid hsl(0, 0%, 87%);
    border-radius: 8px;
    background: hsl(0, 0%, 100%);
    overflow: hidden;
}

.card h3 {
    background: hsl(0, 0%, 96%);
    text-align: center;
    padding: 15px;
}

.card .content {
    padding: 15px;
}

.card button {
    width: 100%;
    text-align: center;
    border: 0px solid black;
    background: hsl(0, 0%, 93%);
    text-align: center;
    padding: 15px;
    box-sizing: border-box;
}

.card button:hover {
    background: hsl(0, 0%, 75%);
    border-radius: 10px;
}

@media (max-width: 600px) {
    .card h3 {
        padding: 10px;
        font-size: 16px;
    }
}